/* variables.css */
:root {
    /* Primary Colors */
  --primary-800: #6492A3;
  --primary-600: #9CBFC6;
  --primary-300: #A2CDD5;
  --primary-100: #C4E1E5;

  /* Secondary Colors */
  --secondary-800: #4E5C5E;
  --secondary-600: #89C78D;
  --secondary-300: #C2BAB4;
  --secondary-200: #F0E9E3;
  --secondary-100: #EB7822;

  /* Text and Background Colors */
  --text-color: #333333;
  --background-color: #f0f0f0;

    /* Font Families */
    --font-primary: 'Roboto Mono', monospace;
    --font-primary-800: 64px;
    --font-primary-700: 48px;
    --font-primary-600: 42px;
    --font-primary-500: 36px;
    --font-primary-400: 28px;

    --font-primary-300: 24px;
    --font-primary-200: 20px;
    --font-primary-100: 16px;
}
